<!DOCTYPE html>
<div class="row row-home">
   <style type="text/css" media="screen">
       .row-home{margin:0;}
       .col-mark{border: 1px solid #000; height:100px; padding:1rem;}
       .panel{height:100%;margin:0;}
   </style>
   <div class="col-mark col-xs-12 col-md-6 col-lg-4" style="height:200px;">
       <div class="panel">
          <div class="panel-heading">
              <span class="desc bg-cyan"><i class="fa fa-bullhorn"></i> 待办工作</span>
              <span class="unit font-cyan">更多 <i class="fa fa-chevron-right"></i></span>
          </div>
          <div class="panel-body"></div>
       </div>
   </div><!--col-mark-->
   <div class="col-mark col-xs-12 col-md-6 col-lg-4">
       <div class="panel">
          <div class="panel-heading">
              <span class="desc bg-cyan"><i class="fa fa-bullhorn"></i> 待办工作</span>
              <span class="unit font-cyan">更多 <i class="fa fa-chevron-right"></i></span>
          </div>
          <div class="panel-body"></div>
       </div>
   </div><!--col-mark-->
   <div class="col-mark col-xs-12 col-md-6 col-lg-4"></div><!--col-mark-->
   <div class="col-mark col-xs-12 col-md-6 col-lg-4"></div><!--col-mark-->
   <div class="col-mark col-xs-12 col-md-6 col-lg-4"></div><!--col-mark-->
   <div class="col-mark col-xs-12 col-md-6 col-lg-4"></div><!--col-mark-->
   <div class="col-mark col-xs-12 col-md-6 col-lg-4"></div><!--col-mark-->
   <div class="col-mark col-xs-12 col-md-6 col-lg-4"></div><!--col-mark-->
   <div class="col-mark col-xs-12 col-md-6 col-lg-4"></div><!--col-mark-->
</div>
   
<footer>
    <hr>
    <p class="pull-right"><a href="#" target="_blank">自动化办公信息系统</a></p>
    <p>&copy; 2015 <a href="#" target="_blank">aYin</a></p>
</footer>
